.a-text {
	font-size: rem(14);
	line-height: rem(22);

	&-font-weight-medium {
		@include u-fw-medium;
	}

	&-font-weight-bold {
		@include u-fw-bold;
	}

	&-size-small {
		font-size: rem(12);
		line-height: rem(20);
	}

	&-center {
		text-align: center;
	}

	&-left {
		text-align: left;
	}

	&-right {
		text-align: right;
	}

	&-justify {
		text-align: justify;
	}

	&-underline {
		text-decoration-line: underline;
	}

	&-strikethrough {
		text-decoration-line: line-through;
	}

	&-italic {
		font-style: italic;
	}

	&-secondary {
		color: $color-black-045;
	}

	&-danger {
		color: $color-red;
	}

	&-disabled {
		color: $color-black-025;
	}

	&-warning {
		color: $color-yellow;
	}

	&-mark {
		color: $color-black;
	}

	&-success {
		color: $color-kelly-green;
	}

	&-violet-blue {
		color: $color-violet-blue;
	}

	&-grape {
		color: $color-grape;
	}

	&-link {
		color: $color-dodger-blue;
	}
}
